
/* -------------------------------------Special Styling */
/* Added to prevent the problems of elements overflowing horizontally on mobile devices */
* {
    margin: 0;
    padding: 0;
}

.row,
.container {
        overflow-x: hidden;
}

/* ------------------------------------- Background Colour Annimation  */
/* CSS Styling created with https://www.gradient-animator.com/ */

body {
    text-align: center;
    background: linear-gradient(312deg, #22577a, #38a3a5, #57cc99, #80ed99, #c7f9cc);
    background-size: 1000% 1000%;

    -webkit-animation: scrolling-gradient 30s ease infinite;
    -moz-animation: scrolling-gradient 30s ease infinite;
    animation: scrolling-gradient 30s ease infinite;
}

@-webkit-keyframes scrolling-gradient {
    0%{background-position:0% 96%}
    50%{background-position:100% 5%}
    100%{background-position:0% 96%}
}
@-moz-keyframes scrolling-gradient {
    0%{background-position:0% 96%}
    50%{background-position:100% 5%}
    100%{background-position:0% 96%}
}
@keyframes scrolling-gradient {
    0%{background-position:0% 96%}
    50%{background-position:100% 5%}
    100%{background-position:0% 96%}
}

/* End of CSS Styling from https://www.gradient-animator.com/ */

/* -------------------------------------HEADER SECTION */



/* -------------------------------------MAIN BODY STYLING */
/* -------------------------------------Clock Canvas */

#clockCanvas {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 400px;
    margin: 10vh auto;
}

/* -------------------------------------Accordion cards*/
/* -------------------------------------Alarm */

.form-control {
    display: inline-block;
    width: 50px;
}

.toggle-handle {
    border: 1px solid #777;
    background-color: #d6e1ea;
}

.toggle-off {
    padding: 3px 0 6px 12px;
}

.toggle-on {
    padding: 3px 12px 6px 0;
}

#alarmMins {
    margin-right: 15px;
}

/* -------------------------------------Accordion cards styling */

.card-header {
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-header:hover {
    background-color: #C7F9CC;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.btn-link {
    font-weight: 400;
    color: #444;
    text-decoration: none;
}

.btn-link:hover {
    font-weight: 400;
    color: #444;
    text-decoration: underline #444;
}

/* -------------------------------------Timer */



/* -------------------------------------FOOTER SECTION */

/* -------------------------------------Media Queries */
/* -------------------------------------Responsive Design - TABLET & mobile */

@media screen (max-width: 943px) {
    #clockCanvas {
        width: 100%;
        height: auto;
        max-width: 400px;
        max-height: 400px;
        margin: 30px auto;
    }
}
